# Server
PORT=3001

# Stripe
STRIPE_SECRET_KEY=your_stripe_secret_key

# PostgreSQL
PGHOST=localhost
PGPORT=5432
PGUSER=admin
PGPASSWORD=postgres
PGDATABASE=devburguer-db

# MongoDB
MONGO_URL=mongodb://localhost:27017/devburguer

# Frontend allowed origin
CORS_ORIGIN=http://localhost:5173
